<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/layout/layout :: head">


</head>
<header th:replace="/layout/layout :: header"></header>

<div class="container py-5">
    <div class="card bg-light border-4">
        <h4>Movimiento Bancario</h4>
        <div class="card-body">
            <h4 class="card-title">
                <a th:href="@{/formHistorialCausa/}+${movBancario.causa.id}" class="btn btn-light btn-xs">
                    <i class="fa-solid fa-backward"></i>
                    Regresar</a>
                </h4>


            <form th:action="@{/detalleMovimientoB}" th:object="${movBancario}" method="post">
                <ul class="list-group my-2">
                    <li class="list-group-item list-group-item-primary" th:text="'Datos'"></li>
                    <li class="list-group-item" th:text="'Usuario: '+ ${movBancario.getUsuario()}"></li>
                    <li class="list-group-item" th:text="'Cuenta: '+ ${movBancario.getCuenta()}"></li>
                    <li class="list-group-item" th:text="'Monto: '+ ${movBancario.getMonto()}"></li>
                    <li class="list-group-item" th:text="'Moneda: '+ ${movBancario.getMoneda()}"></li>
                </ul>

            </form>
        </div>
    </div>
</div>

<footer th:replace="/layout/layout :: footer"></footer>

</html>
