<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/layout/layout :: head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
    <script type="text/javascript" src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>
</head>
<header th:replace="/layout/layout :: header"></header>


<div class="container py-5 informaciones">
    <form th:action="@{/detalle}" th:object="${causaSession}" method="post">
        <ul class="list-group my-2 ">
            <li class="list-group-item list-group-item-primary infocausa fontTitles" th:text="'DATOS DE LA CAUSA'"></li>
            <li class="list-group-item infocausa"
                th:text="'Numero de expediente: '+ ${causaSession.getNumExpediente()}"></li>
            <li class="list-group-item infocausa"
                th:text="'Fecha: '+ ${#calendars.format(causaSession.getFecha2(),'dd/MM/yyyy')}"></li>
            <li class="list-group-item infocausa" th:text="'Victima: '+ ${causaSession.getVictima()}"></li>
            <li class="list-group-item infocausa" th:text="'Victimario: '+ ${causaSession.getVictimario()}"></li>
        </ul>
        <h4 class="card-title">
            <a th:href="@{/causas}" class="btn btn-light btn-xs">
                <i class="fa-solid fa-backward"></i>
                Regresar</a>
        </h4>

    </form>

    <div class="card bg-light border-4">
        <h4 class="fontTitles"> REGISTRO DE CAUSAS </h4>

        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th><i class="fa-solid fa-circle-info"></i> Tipo de informacion</th>
                <th><i class="fa-solid fa-calendar-days"></i> Fecha</th>
                <th><i class="fa-solid fa-book-open"></i> Descripcion</th>
                <th><i class="fa-solid fa-eye"></i></th>


            </tr>
            </thead>

            <tbody>

            <tr th:each="info : ${infoSession}">
                <td th:text="${info.getTipoInformacion()}"></td>
                <td th:text="${#calendars.format(info.getFecha(),'dd/MM/yyyy')}"></td>
                <td th:text="${info.getDescripcion()}"></td>

                <td>
                    <div th:if="${info.getTipoInformacion() == 'Movimiento Bancario'} ">
                        <a class="btn btn-outline-primary btn-xs" th:href="@{/detalleMovBancario/}+${info.id}"><i
                                class="fa-solid fa-building-columns"></i></a>
                    </div>
                    <div th:if="${info.getTipoInformacion() == 'LLamada Telefonica'} ">
                        <a class="btn btn-outline-primary btn-xs" th:href="@{/detalleLlamadaTelefonica/}+${info.id}"><i
                                class="fa-solid fa-phone"></i></a>
                    </div>
                    <div th:if="${info.getTipoInformacion() == 'Red Social'} ">
                        <a class="btn btn-outline-primary btn-xs" th:href="@{/detalleRedSocial/}+${info.id}"><i
                                class="fa-solid fa-network-wired"></i></a>

                    </div>
                </td>


            </tr>

            </tbody>
        </table>


    </div>

</div>


<footer th:replace="/layout/layout :: footer"></footer>

</html>
