<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/layout/layout :: head"></head>
<body>

<header th:replace="/layout/layout :: header"></header>

<div class="container py-5">
    <div class="card bg-light border-4">
        <div class="card-header" th:text="${titulo}"></div>
        <!-- <div class="col-sm-36 offset-sm-2 text-center"> -->

        <div class="card-body">
            <div th:object="${movimientoBancario}" th:remove="tag">
                <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <li th:text="'Por favor, verifique los campos, se han encontrado errores.'"></li>
                </ul>
            </div>

            <form th:action="@{/formMovimientoBancario}" th:object="${movimientoBancario}" method="post">

                <label>Cuenta:</label>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="text" th:field="*{cuenta}" class="form-control"
                               th:errorclass="'form-control alert-danger'" placeholder="Ingrese cuenta bancaria"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('cuenta')}"
                               th:errors="*{cuenta}"></small>
                    </div>
                </div>
                <label>Dato cajero:</label>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="text" th:field="*{datoCajero}" class="form-control"
                               th:errorclass="'form-control alert-danger'" placeholder="Ingrese dato del cajero"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('datoCajero')}"
                               th:errors="*{datoCajero}"></small>
                    </div>
                </div>
                <label>Moneda: </label>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="text" th:field="*{moneda}" class="form-control"
                               th:errorclass="'form-control alert-danger'" placeholder="Ingrese tipo de moneda"
                               onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('moneda')}"
                               th:errors="*{moneda}"></small>
                    </div>
                </div>

                <label>Monto: </label>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="number" th:field="*{monto}" class="form-control" placeholder="Monto"
                               th:errorclass="'form-control alert-danger'">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('monto')}"
                               th:errors="*{monto}"></small>
                    </div>
                </div>

                <label>Tipo transaccion: </label>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="text" th:field="*{tipoTransaccion}" class="form-control"
                               th:errorclass="'form-control alert-danger'" placeholder="Ingrese tipo de transaccion"
                               onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)"/>

                        <small class="form-text text-danger" th:if="${#fields.hasErrors('tipoTransaccion')}"
                               th:errors="*{tipoTransaccion}"></small>
                    </div>
                </div>

                <label>Usuario: </label>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="text" th:field="*{usuario}" class="form-control"
                               th:errorclass="'form-control alert-danger'" placeholder="Ingrese usuario de la cuenta"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('usuario')}"
                               th:errors="*{usuario}"></small>
                    </div>
                </div>

                <label>Descripción: </label>
                <div class="form-group row">
                    <div class="col-sm-6">
                <textarea th:field="*{descripcion}" class="form-control"
                          th:errorclass="'form-control alert-danger'" placeholder="Ingrese descripcion"></textarea>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('descripcion')}"
                               th:errors="*{descripcion}"></small>
                    </div>
                </div>

                <label>Fecha: </label>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="text" th:field="*{fecha}" class="form-control"
                               th:errorclass="'form-control alert-danger'" placeholder="dd/MM/yyyy"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('fecha')}"
                               th:errors="*{fecha}"></small>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="submit" th:value="${mensaje}" class="btn btn-primary"/>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


<footer th:replace="/layout/layout :: footer"></footer>


</body>
</html>
