<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/layout/layout :: head"></head>
<body>

<header th:replace="/layout/layout :: header"></header>

<div class="container py-5">
  <div class="card bg-light border-4">
    <div class="card-header" th:text="${titulo}"></div>
    <!-- <div class="col-sm-36 offset-sm-2 text-center"> -->

    <div class="card-body">
      <div th:object="${usuario}" th:remove="tag">
        <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
          <li th:text="'Por favor, verifique los campos, se han encontrado errores.'"></li>
        </ul>
      </div>

      <form th:action="@{/form}" th:object="${usuario}" method="post" enctype="multipart/form-data">

        <label>Nombre:</label>
        <div class="form-group row">
          <div class="col-sm-6">
            <input type="text" th:field="*{nombre}" class="form-control" placeholder="Nombre"
                   th:errorclass="'form-control alert-danger'"
                   onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)"/>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"
                   th:errors="*{nombre}"></small>
          </div>
        </div>
        <label>Apellido:</label>
        <div class="form-group row">
          <div class="col-sm-6">
            <input type="text"  th:field="*{apellido}" class="form-control" placeholder="Apellido"
                   th:errorclass="'form-control alert-danger'"
                   onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)"/>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}"
                   th:errors="*{apellido}"></small>
          </div>
        </div>
        <label>Dependencia de prestaciones:</label>
        <div class="form-group row">
          <div class="col-sm-6">
            <input   type="text" th:field="*{dependenciaPrestaciones}" class="form-control"
                   th:errorclass="'form-control alert-danger'" placeholder="Ingrese dependencia de prestaciones"/>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('dependenciaPrestaciones')}"
                   th:errors="*{dependenciaPrestaciones}"></small>
          </div>
        </div>

        <label>Email:</label>
        <div class="form-group row">
          <div class="col-sm-6">
            <input type="text" th:field="*{email}" class="form-control"
                   th:errorclass="'form-control alert-danger'" placeholder="Email"/>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}"
                   th:errors="*{email}"></small>
          </div>
        </div>
        <label >Contraseña:</label>
        <div class="form-group row">
          <div class="col-sm-6">
            <input type="password" th:field="*{password}" class="form-control" placeholder="Contraseña"
                   th:errorclass="'form-control alert-danger'"/>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}"
                   th:errors="*{password}"></small>
          </div>
        </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <input type="submit" th:value="${mensaje}" class="btn btn-primary"/>
            </div>
          </div>

      </form>
    </div>
  </div>
</div>




<footer th:replace="/layout/layout :: footer"></footer>


</body>
</html>
